{% extends 'base.html' %}


{% block content %}
    <div class="container">

        <div class="row justify-content">
            <div class="col-md-4">
                <a href="{% url 'showProducts' %}" style="font-size: 13px;" class="cart-text mt-1 btn btn-secondary">Back</a>   
                <div class="card m-3 p-2" style="width: 18rem; height: 33rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
                    <img src="{{ product.image.url }}" style="height: 300px; width: 200px;"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 style="font-size: 17px;" class="card-title mt-1">{{ product.name }}</h4>
                        <h3 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">${{ product.price }}</h3>
                        <hr>
                        <p style="font-size: 13px;" class="cart-text mt-1">{{ product.created_at }}</p>
                        <h5 style="color: rgb(16, 52, 107)" class="card-subtitle mt-2">{{ product.description }}</h5>
                        <a href="{% url 'deleteProduct' product.pk %}" style="font-size: 13px;" class="cart-text mt-2 btn btn-warning">Delete</a>         
                        <a href="{% url 'updateProduct' product.pk %}" style="font-size: 13px;" class="cart-text mt-2 btn btn-secondary">Update</a>         
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin: 5px; padding:2px">
               Add Comments (0)
               <br>
               <hr>
   
               {% if not product.comments.all %}
   
                  <p>Not comments added yet...</p>
                  <p><a class="btn btn-primary" href="{% url 'addComment' product.pk %}">  Add Comment </a></p>
   
               {% else %}
   
                   {% for comment in product.comments.all %}   
                       <h5><strong>{{ comment.commenter_name }}</strong></h5>
                       <p>{{ comment.comment_body }}</p>
                       <p><small>{{ comment.date_added }}</small></p>

                       {% if request.user.username == comment.commenter_name %}
                           <p><a class="btn btn-primary" href="{% url 'addComment' product.pk %}">  Add Comment </a></p>
                           <p><a class="btn btn-danger" href="{% url 'deleteComment' product.pk %}">  Delete Comment </a></p>
                       {% endif %}
                   {% endfor %}

               {% endif %}

            </div>
         </div>
        
    </div>
{% endblock %}